body{
    margin: 0;
    background-color: #d9d6cb;
}

#MainContainer{
    width: min(700px, 100vw);
    margin: auto;
    height: 100vh;
    background-color: #efece1;
    box-shadow: 0 0 15px #00000055;
    padding: min(2rem, 5vw);
    box-sizing: border-box;
}

#Timer{
    margin: 0;
    font-size: min(5rem, 15vw);
    text-align: center;
}


#TextWritten{
    color: red;
}